table {
  background-color: #fd9;
}

tbody {
  background-color: #fff;
  overflow: auto;
}

th {
  padding-right: 1rem;
}

td {
  padding: 3px 10px;
  text-align: center;
}

tr {
  cursor: pointer;
}

.pending {
  border-right: 0.1rem double;
  margin-right: 1rem;
  padding-right: 1rem;
}


.new-task {
  margin: 1rem 0 1rem 0;
}

.new-task__input {
  width: 22rem;
  height: 2rem;
}

button {
  margin-left: 1rem;
}
