<form class="new-task" [formGroup]="addTaskForm" (ngSubmit)="addTask()">
  <input class="new-task__input" formControlName="newTask" type="text" placeholder="task description" />
  <button class="btn-primary">Add New Task</button>
</form>

<div class="d-flex">
  <div class="pending">
    <h2>Pending Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of pendingTasks" (click)="changeStatus(task)">
          <td>{{ task.id }}</td>
          <td>{{ task.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Completed Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of completedTasks" (click)="changeStatus(task)">
          <td>{{ task.id }}</td>
          <td>{{ task.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
